<!-- HOME PAGE --!>



<!-- VOTE ON FUTURE CAMPAIGNS --!>


<h1>
	<span class="yellow">3</span> Votes
</h1>



<%if signed_in? %>
	<%if @user.votesleft == 0 %>
		<div class="textwrap2">
			Thanks for voting! You will be e-mailed if your campaign gets launched. <br />
			<input type="button" value="View my Votes" id="toggle_code" class="btn btn-link"/>
		</div>
	<%else%>
		<div class="textwrap2">
			You have <span class="red"><%= pluralize(@user.votesleft, "vote") %> left</span>! Vote on the campaigns which are most important to you. Campaigns are launched based on popular vote.<br />
		<% if current_user.votesleft < 3 %>
		<input type="button" value="View my Votes" id="toggle_code" class="btn btn-link"/>
		<% end %>
		</p>
	<% end %>
		<% if current_user.vote.present? %>
			<div class="highlight">
				<div class="shh">
					<% if current_user.votesleft < 3 %>
						<h4 id="left">My Campaigns</h4> <br/>
						<% @rating.each do |petition| %>
							<% if (current_user.vote.vote1 == petition.id) || (current_user.vote.vote2 == petition.id) || (current_user.vote.vote3 == petition.id)%>
								<div class="block" id="img4">
									<strong>
										<%= link_to petition.name, edit_petition_path(petition)	, {:style=>'color:#000000;'} %>
									</strong>
									<div class="imgholder">
										<%= link_to image_tag(petition.pics_url), edit_petition_path(petition)  %>
									</div>

									<% if(current_user.vote.vote1 == petition.id) && (current_user.vote.vote3 == petition.id) && (current_user.vote.vote2 == petition.id)%>
									You voted <b>three times</b> for this campaign
									<% else %>
										<% if (current_user.vote.vote2 == petition.id) && (current_user.vote.vote3 == petition.id)%>
										You voted <b>twice</b> for this campaign
										<% else %>
											<% if (current_user.vote.vote1 == petition.id) && (current_user.vote.vote3 == petition.id)%>
												You voted <b>twice</b> for this campaign
											<% else %>
												<% if (current_user.vote.vote1 == petition.id) && (current_user.vote.vote2 == petition.id) %>
												You voted <b>twice</b> for this campaign
												<% else %>
													You voted <b>once</b> for this campaign
												<% end %>
											<% end %>
										<% end %>
									<% end %>	<br />
									<div class="centers">
									<%= link_to "Remove vote", {:action => "remove", :order_param => petition.id, :controller=>"users"}  %><br />
									</div>
								</div>
							<% end %>
						<% end %>
					<% end %>
				</div>
				<div id="bar2"></div>
				<h4 id="left">All Campaings</h4>
			</div>
	<%end%>
<%else%>
	<p class="textwrap">
		You have <span class="red">3 votes left</span>! Vote on the campaigns which are most important to you. Campaigns are launched based on popular vote.
	</p>
<%end%>







<!-- This section refers to a class imageholder and block which are used by JS: blocksit and blocksithelp...to make into pinterest array. see blocksithelp.js --!>


<div id="right2" class="small">*Campaigns are listed in order of popularity</div><br />
<div id="container", class="contained">
	<% @rating.each do |petition| %>
		<% if petition.pass == "pass" %>			<!-- campaigns need to "pass" before being visible by public --!>
			<% if petition.launched == "no" %>
				<div class="block">
					<strong>
						<%= link_to petition.name, edit_petition_path(petition)	, {:style=>'color:#000000;'} %>
					</strong>

					<div class="imgholder">
						<%= link_to image_tag(petition.pics_url), edit_petition_path(petition)  %>
					</div>




						<div><%=  "#{petition.rating} Votes"	 %></div>



			<% if signed_in? %>
				<% if @user.votesleft != 0 %>
					<%= form_for(petition, :class => "form") do |f| %>
						<div class="centers">
							<%= link_to_submit "Quick Vote" %>
						</div>
					<% end %>
				<% else %>
				<% end %>
			<% else %>
				<div class="centers">
				<%= link_to "Sign in to vote", signin_path %>
				</div>
			<% end %>
				</div>
			<% end %>
		<% end %>
	<% end %>
</div>

<br /><br /><br />




<!-- The following section is for ADMIN...which has access to ALL petitions, not just the ones with a "pass" --!>

<%if signed_in? %>
	<% if current_user.admin? %>
		<section id="row"><div id="bar2"></div></section>
		<p class="textwrap">NOT YET PASSED</p>
		<div id="container", class="contained">
			<% @rating.each do |petition| %>
				<% if petition.pass == "no" %>
					<div class="block">
						<div class="imgholder">
							<%= link_to image_tag(petition.pics_url), edit_petition_path(petition) %>
						</div>
						<strong>
							<%= link_to petition.name, edit_petition_path(petition)	, {:style=>'color:#000000;'} %>
						</strong>
					</div>
				<% end %>
			<% end %>
		</div>
	<% end %>
<% end %>

<!-- CURRENT CAMPAIGN --!>

<%if signed_in? %>
	<% if current_user.admin? %>
		<section id="row"><div id="bar2"></div></section>
		<p class="textwrap">CURRENT CAMPAIGN</p>
		<div id="container", class="contained">
			<% @rating.each do |petition| %>
				<% if petition.launched == "yes" %>
					<div class="block">
						<div class="imgholder">
							<%= link_to image_tag(petition.pics_url), edit_petition_path(petition) %>
						</div>
						<strong>
							<%= link_to petition.name, edit_petition_path(petition)	, {:style=>'color:#000000;'} %>
						</strong>
					</div>
				<% end %>
			<% end %>
		</div>
	<% end %>
<% end %>





<!-- CURRENT CAMPAIGN --!>


<!--
<%= link_to "View Current Campaign!", new_signature_path, class: "btn btn-large btn-primary", id: "right" %>

<div id="bar2"></div>
<h1>
	<span class="orange">1</span> Campaign
</h1>
--!>
<!--
<% @rating.each do |petition| %>
	<% if petition.pass == "pass" %>
		<% if petition.launched == "yes" %>
			<h4>Time remaining: <span id="countbox1"></span></h4>
			<section class="block">
				<div id="padd"><h4><%= link_to "Campaign Name: #{petition.name}", new_signature_path %></h4></div>
				<div class="imgholder2">
					<%= link_to image_tag(petition.pics_url), new_signature_path, id:"img2" %>
				</div>
				<p class="textwrap"><%= truncate(petition.description, :length=>400 )  %></p>
				<h4><div class="meta"><%= @totals %> Paticipants</div></h4>
				<div class="centers">
					<%= link_to "Paticipate!", new_signature_path	, class: "btn btn-large btn-primary" %>
				</div>
			</section>
		<% end %>
	<% end %>
<% end %>


<div id="bar2"></div>





<h1><span class="red">5</span> Friends </h1>

<section class="block" id="padd">
	<p class="textwrap">...is our request. Tackling these challenges will require a little effort from everyone.
	Help make these campaings successful by sharing with your friends and family!</p>
	<div class="centers">
		<%= link_to "Share!", share_path	, class: "btn btn-large btn-primary" %>
	</div>
</section>

--!>

<!-- SCRIPT FOR COUNTOWN TIMER ONLY --!>

<!--
<script type="text/javascript">
//######################################################################################
// Author: ricocheting.com
// Version: v2.0
// Date: 2011-03-31
// Description: displays the amount of time until the "dateFuture" entered below.

// NOTE: the month entered must be one less than current month. ie; 0=January, 11=December
// NOTE: the hour is in 24 hour format. 0=12am, 15=3pm etc
// format: dateFuture1 = new Date(year,month-1,day,hour,min,sec)
// example: dateFuture1 = new Date(2003,03,26,14,15,00) = April 26, 2003 - 2:15:00 pm

dateFuture1 = new Date(2012,11,26,16,10,12);

// TESTING: comment out the line below to print out the "dateFuture" for testing purposes
//document.write(dateFuture +"");


//###################################
//nothing beyond this point
function GetCount(ddate,iid){

	dateNow = new Date();	//grab current date
	amount = ddate.getTime() - dateNow.getTime();	//calc milliseconds between dates
	delete dateNow;

	// if time is already past
	if(amount < 0){
		document.getElementById(iid).innerHTML="Now!";
	}
	// else date is still good
	else{
		weeks=0;days=0;hours=0;mins=0;secs=0;out="";

		amount = Math.floor(amount/1000);//kill the "milliseconds" so just secs

		weeks=Math.floor(amount/604800);//weeks
		amount=amount%604800;

		days=Math.floor(amount/86400);//days
		amount=amount%86400;

		hours=Math.floor(amount/3600);//hours
		amount=amount%3600;

		mins=Math.floor(amount/60);//minutes
		amount=amount%60;

		secs=Math.floor(amount);//seconds

		if(weeks != 0){out += weeks +" "+((weeks==1)?"week":"weeks")+", ";}
		if(days != 0){out += days +" "+((days==1)?"day":"days")+", ";}
		if(hours != 0){out += hours +" "+((hours==1)?"hour":"hours")+", ";}
		out += mins +" "+((mins==1)?"min":"mins")+", ";
		out += secs +" "+((secs==1)?"sec":"secs")+", ";
		out = out.substr(0,out.length-2);
		document.getElementById(iid).innerHTML=out;

		setTimeout(function(){GetCount(ddate,iid)}, 1000);
	}
}

window.onload=function(){
	GetCount(dateFuture1, 'countbox1');
	//you can add additional countdowns here (just make sure you create dateFuture2 and countbox2 etc for each)
};
</script>

--!>


<script>
$(function(){
    $('.highlight').hide()
	$('#toggle_code').click(function(){
        $('.highlight').toggle({});
		if ($('#toggle_code').val() == "View my Votes") {
			$(this).val("Hide my Votes");
		}
		else {
			$(this).val("View my Votes");
		}
    });



	});

	</script>








