
<div class="highlight2">
<h1> 
	My Shopping Cart
</h1>


<br /><br /><br />

<div class="shh">
<div class="span2">
</div>
<div class="span2" id="center">
<p class="textwrap3">Name</p>
</div>
<div class="span2" id="center">
<p class="textwrap3">Cost</p>
</div>
<div class="span2" id="center">
<p class="textwrap3"># items</p>
</div>
<div class="span2" id="right2">
<p class="textwrap3">Total</p>
</div></div><br />


<% @items.each do |item| %>
<% if item.paid == "no" %>
	
	<div class= "shh" >
	<div class="span2" id="cartpic">
		<%= image_tag(item.pic)  %> 
	</div>
	<span class="span2" id="center">
		 <%= item.itemname %> 
	</span>	
	
	<div class="span2" id="center">
		<%= (item.itemcost.to_f)/100 %> $
	</div>
	<div class="span2" id="center">
		<%= item.number %>
	</div>
	<div class="span2" id="right2">
		<%= (item.itemcost.to_f)*(item.number)/100 %> $
	</div>
	<div class="span2"  id="center">
		<%= link_to "remove item", nomore_path(:item_number => item.id)  %>
	</div>
	<br />
	</div>
	<% @total += (item.itemcost.to_f)*(item.number)/100 %>
	<% @list = @list + "#{item.number}X#{item.itemname}@#{(item.itemcost.to_f)/100}," %>
	<% @no = @no + 1 %>


<% end %>	
<% end %>	






<div id="bar2"></div>	

<div class="shh">
<div class="span2">
</div>
<div class="span2">
</div>
<div class="span2">
</div>
<div class="span2">
</div>
<div class="span2" id="right2">
<%= @total.round %> $<br />

5 $<br /><% @total = @total+5 %>
<div id="bar3"></div>
<%= @total.round %> $
</div>
<div class="span2">
<br />

(Shipping)<br />

(Total)
</div>

</div><br /><br />



</div>



<div class="highlight">
<h1> 
	Checkout
</h1>
	  <b>Total:</b><br />
	  <%= @total.round %> $
	  

	  
<div id="bar2"></div>	
<%= form_for @payment do |f| %>
	<div class="centers">
	<%= render 'shared/error_messages', object: f.object %>
	<%= f.hidden_field :user_id, value: current_user.id %>	
	

	<%= f.hidden_field :stripe_card_token %>
	<%= f.hidden_field :price, value: @total*100 %>
	<%= f.hidden_field :item_id, value: @list %>

	<div class="span1">	
	</div>
	
	<div class="span4">
		<div class="bold"><%= label_tag :name, "Name:" %> </div>
		<%= f.text_field :name, value: current_user.name, class:"span12" %> <br />
		<div class="bold"><%= label_tag :email, "Email:" %> </div>
		<%= f.text_field :email, value: current_user.email, class:"span12" %> <br />
		Shipping Address
		<%= f.text_field :street, :placeholder => "Street", class:"span12" %>
		<%= f.text_field :city, :placeholder => "City", class:"span12"  %>
		<%= f.text_field :country, :placeholder => "Country", class:"span12"  %>
		<%= f.text_field :postalcode, :placeholder => "Postal Code", class:"span12"  %>
	</div>
	<div class="span1">	
	</div>
	<div class="span4">

	  <div class="bold"><%= label_tag :card_number, "Credit Card Number" %> </div>
	  <%= text_field_tag :card_number, nil, name: nil, class:"span12" %>
	  <%= label_tag :card_code, "Security Code on Card (CVV)" %>
	  <%= text_field_tag :card_code, nil, name: nil, class:"span12" %>
	  <%= label_tag :card_month, "Card Expiration" %>
	  <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month", class:"span12"} %>
	  <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year", class:"span12"} %>

	</div>
	

	<div class="span4">	
	<div id="stripe_error">
		<noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
	</div>
	</div>
	</div>		

	<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
	<div class="actions">	
	<%= f.submit "pay", class: "btn btn-large btn-primary" %> 
	</div><br /><br />
<% end %>

<div id="bar2"></div>
</div>


<input type="button" value="Checkout" id="toggle_code2" class="btn btn-link"/>


<script>
$(function(){
    $('.highlight').hide()
	$('#toggle_code2').click(function(){
        
		
		
		
		if ($('#toggle_code2').val() == "Checkout") {
			$(this).val("Back");
			$('.highlight2').toggle({});
			$('.highlight').delay(700).toggle({});
		}
		else {
			$(this).val("Checkout");
			$('.highlight2').delay(700).toggle({});
			$('.highlight').toggle({});				
		}
    });
});




</script>