<br /><br /><br /><br />
	
		<div class="row">
		<div class="span4">
			<%= image_tag @item.pictures_url, :class=>"topspace"%>
		</div>
		<div class="span8">
		
		<h3><%= @item.name %></h3>
		<b>Description:</b> <br />
		<%= @item.description %> <br /><br /><br />
		
		<% if @item.specs.present? %>
			<b>Specs:</b> <br />
			<%= @item.specs %><br /><br /><br />
		<% end %>
		<b>Price:</b> <br />
		<%= @item.cost.to_f/100 %> $<br />
		
		<% if @item.companyinfo.present? %>
			<b>About <%= @item.company %>:</b><br />
			<%= @item.companyinfo %><br />
		<% end %>
		
		</div>
		</div>
	 <br /> <br /><br /><br />

<div class="centers">*All profits are used to market and promote campaings listed on the website!*</div> <br />


		<% if signed_in? %>
			<%= form_tag additem_path do %> 
				<div class="centers">
					<%= hidden_field_tag :itemname, @item.name %>
					<%= hidden_field_tag :itemcost, @item.cost %>
					<%= hidden_field_tag :pic, @item.pictures %>
					<%= hidden_field_tag :item_id, @item.id %>
					<%= select_tag :number, "<option>1</option><option>2</option><option>3</option>".html_safe %> 
				<%= submit_tag "Add to cart", class: "btn btn-large btn-primary" %>
				</div>	
			<% end %>
		<% end %>		
	
	
		<div class="row">
			<% if !signed_in? %><br />
				<div class="centers"><%= link_to "Please sign in to purchase", signin_path, class: "btn btn-large btn-primary" %></div>
			<% end %>	
		</div>
		
		
		
		
		

<!--the following form is for the PAYMENT model/controller...it is related to stripe.js
<%= form_for @payment do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<% if signed_in? %>
	<%= f.hidden_field :user_id, value: current_user.id %>	
	<%= f.hidden_field :email, value: current_user.email %>
	<% else %>
	<%= f.hidden_field :user_id, value: "n/a" %>
	<%= f.label :email, "e-mail:" %>
	<%= f.text_field :email %>
	<% end %>
	<%= f.hidden_field :stripe_card_token %>
	<%= f.hidden_field :item_id, value: @item.id %>
	<%= f.hidden_field :price, value: @item.cost.to_i %>
	

	<div class="field">
	  <%= label_tag :card_number, "Credit Card Number" %>
	  <%= text_field_tag :card_number, nil, name: nil %>
	</div>
	<div class="field">
	  <%= label_tag :card_code, "Security Code on Card (CVV)" %>
	  <%= text_field_tag :card_code, nil, name: nil %>
	</div>
	<div class="field">
	  <%= label_tag :card_month, "Card Expiration" %>
	  <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"} %>
	  <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"} %>
	</div>

	<div id="stripe_error">
		<noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
	</div>
	<div class="actions">
		<%= f.submit "pay", class: "btn btn-large btn-primary" %>
	</div>
<% end %>
-->

<% if signed_in? %>
	<% if current_user.admin? %>
		<div id="bar2"></div>
		<%= form_for(@item) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>

			<%= f.label :cost, "Price (in cents!!!)" %>
			<%= f.text_field :cost  %>

			<%= f.label :name, "Item name" %>
			<%= f.text_field :name %>

			<%= f.label :name, "Description" %>
			<%= f.text_area :description, class: "span8" %>
			
			<%= f.label :petition_id, "Petition ID" %>
			<%= f.text_field :petition_id %>
			
			
			<%= f.label :pictures, "Picture" %>
			<%= f.file_field :pictures, value: @item.pictures_url %> <br />
			
			<%= f.label :launched, "Launched?" %>
			<%= f.text_field :launched %> <br />	
			
			<%= f.submit "Update" %>
		<% end %>
	<% end %>
<% end %>
