
<h1> 
	Add new Items
</h1>	

<%= form_for(@item) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>

    <%= f.label :cost, "Price (in cents!!!)" %>
    <%= f.text_field :cost  %>

    <%= f.label :name, "Item name" %>
    <%= f.text_field :name %>

	<%= f.label :name, "Description" %>
    <%= f.text_area :description, class: "span8" %>
	
	<%= f.label :petition_id, "Petition ID" %>
    <%= f.text_field :petition_id %>
	
	<%= f.label :pictures, "Picture" %>
	<%= f.file_field :pictures %> <br />

	<%= f.label :launched, "Launched?" %>
	<%= f.select :launched, [['yes','yes'],['no','no']] %>  

	<%= f.label :home, "Home?" %>
	<%= f.select :home, [['yes','yes'],['no','no']] %> 
	<%= f.label :fitness, "Fitness?" %>
	<%= f.select :fitness, [['yes','yes'],['no','no']] %> 
	<%= f.label :food, "Food?" %>
	<%= f.select :food, [['yes','yes'],['no','no']] %> 
	<%= f.label :fun, "Fun?" %>
	<%= f.select :fun, [['yes','yes'],['no','no']] %> 
	<%= f.label :book, "Books?" %>
	<%= f.select :book, [['yes','yes'],['no','no']] %> 
    
	<%= f.submit "new item complete" %>
<% end %>